[submodule "deps/git-subrepo"]
	path = deps/git-subrepo
	url = https://github.com/ingydotnet/git-subrepo.git
[submodule "modules/sanctum-collection"]
	path = modules/sanctum-collection
	url = git@github.com:SanctumWoW/sanctum-collection.git
    branch = master
    update = rebase
[submodule "modules/mod-eluna"]
	path = modules/mod-eluna
	url = https://github.com/azerothcore/mod-eluna.git
